In [1]:
import pandas as pd

In [2]:
df_xlsx = pd.read_excel('Humanyze_task.xlsx')

In [3]:
print(df_xlsx)

    UserID       Team    Location Manager?
0   174133   Business      Boston        Y
1   174134   Business      Boston        Y
2   174138   Business      Boston      NaN
3   174733    Tech DC      Boston      NaN
4   174734    Tech DC      Boston      NaN
5   174738    Tech DC      Boston      NaN
6   182838    Tech DC      Boston      NaN
7   227533    Tech DC      Boston        Y
8   227534    Tech DC      Boston      NaN
9   227538    Tech DC      Boston      NaN
10  234033  Tech HYPE      Boston      NaN
11  234034  Tech HYPE      Boston      NaN
12  234038  Tech HYPE      Boston      NaN
13  260334    Tech DC      Boston        Y
14  260338    Tech DC      Boston      NaN
15  260833   Business      Boston      NaN
16  260838   Business      Boston      NaN
17  273033   Business  Menlo Park        Y
18  273034   Business  Menlo Park      NaN
19  273038   Business  Menlo Park      NaN
20  281038  Analytics  Menlo Park        Y
21  286433  Analytics  Menlo Park      NaN
22  286434  Analytics  Menlo Park      NaN
23  286438  Analytics  Menlo Park      NaN
24  292633  Analytics  Menlo Park      NaN
25  292634  Analytics  Menlo Park      NaN
26  292638  Analytics  Menlo Park        Y
27  296638   Business  Menlo Park      NaN
28  298033  Tech HYPE      Boston        Y
29  298034  Tech HYPE      Boston        Y
30  298038  Tech HYPE      Boston      NaN
31  323233  Tech HYPE      Boston      NaN
32  323234  Tech HYPE      Boston      NaN
33  323238  Tech HYPE      Boston      NaN
34   53534   Business      Boston      NaN
35   94933  Analytics  Menlo Park        Y
36   94934  Analytics  Menlo Park      NaN
37   94938  Analytics  Menlo Park      NaN

In [4]:
print(df.columns)

NameError: name 'df' is not defined

In [5]:
print(df_xlsx.columns)

Index(['UserID', 'Team', 'Location', 'Manager?'], dtype='object')

In [6]:
print(df_xlsx.'UserID')

SyntaxError: invalid syntax (<ipython-input-6-f27171762142>, line 1)

In [7]:
print(df_xlsx['UserID'])

0     174133
1     174134
2     174138
3     174733
4     174734
5     174738
6     182838
7     227533
8     227534
9     227538
10    234033
11    234034
12    234038
13    260334
14    260338
15    260833
16    260838
17    273033
18    273034
19    273038
20    281038
21    286433
22    286434
23    286438
24    292633
25    292634
26    292638
27    296638
28    298033
29    298034
30    298038
31    323233
32    323234
33    323238
34     53534
35     94933
36     94934
37     94938
Name: UserID, dtype: int64

In [8]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt